body {
    background-image: url(images/animated-gifs-of-fighting-game-backgrounds-24.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

#ryu {
    position: absolute;
    bottom: 20px;
    left: 90px;
    width: 200px;
    height: 200px;
}

#ken {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: 10px;
    right:90px;
    width: 200px;
    height: 200px;

}